body {
  scroll-behavior: smooth;
}
.sp-10 {
  margin-left: 10px;
}
.sp-30 {
  margin-left: 20px;
}
.content-1 {
  height: 100vh;

}

/* Content-1 */

.overlay {
  background-color: #F2F2F2;
  display: none;
  height: 100%;
  transition: 0.5s;
}
.show {
  display: block;
  transition: all 500ms ease;
}
.btn-quit {
  padding-top: 50px;
}
