#announces {
  height: auto;
  width: 100%;
  padding: 0 5% 5% 5%;
}
#announces .card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 10px 20px;
  border: none;
  border-radius: 0;
  margin: 20px auto;
}
#filter li  {
  display: inline;
  list-style: none;
  margin: 0 5px;
}
#filter ul {
  width: auto;
  margin: auto;
  padding: 0;
}
#filter input[type=text] {
  padding: 5px 10px;
  width: 60%;
  height: 40px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
}
#filter input[type=text]::placeholder {
  color: black;
}
#filter button {
  width: auto;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#filter button:hover {
  transform: scale(1.1);
}
#category {
  display: none;
}
#mapid {
  display: block;
}

#announce .announce {
  border-bottom: .5px solid #dee2e6;
}
#announce h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#sellerAnnounces img {
  height: 50px;
  width: auto;
}
#sellerAnnounces p {
  text-transform: uppercase;
  font-size: 11px;
  padding: 10px 0;
}

#btnHeart {
  background-color: inherit;
  border: none;
  font-size: 11px;
  padding: 10px 0;
}
#btnView {
  width: auto;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#btnView:hover {
  transform: scale(1.1);
}
#announce #sellerAnnounces td {
  padding: 0;
  vertical-align: middle;
  height: auto;
}
@media screen and (max-width: 1500px) {
  #announces table td button {
    width: auto;
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 40px;
    color: black;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    transition: .5s;
  }

}
@media screen and (max-width: 1000px) {
  #announces {
    padding: 0;
  }
  #announces .card {
    width: 100%;
    height: auto;
  }
}
#modal-announce .modal-header {
  border-radius: 0;
  border: none;
}
#modal-announce .modal-content {
  border-radius: 0;
  border: none;
}
#modal-announce .modal-body button {
  width: auto;
  margin: 10px 5px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#modal-announce .modal-body button:hover {
  transform: scale(1.1);
}
#modal-announce .modal-body img {
  height: 50px;
  width: auto;
}
#modal-announce .modal-body td {
  padding: 0;
  vertical-align: middle;
  height: auto;
}
#modal-announce .modal-header h4 {
  text-transform: uppercase;
  font-size: 19px;
}
#modal-addAnnounce .modal-header {
  border-radius: 0;
  border: none;
}
#modal-addAnnounce .modal-content {
  border-radius: 0;
  border: none;
}
#modal-addAnnounce .modal-header h4 {
  text-transform: uppercase;
  font-size: 19px;
}
#modal-addAnnounce .modal-body input {
  padding: 5px 10px;
  width: 60%;
  height: 40px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
}
#modal-addAnnounce .modal-body input::placeholder {
  color: black;
}
#modal-addAnnounce .modal-body textarea {
  padding: 5px 10px;
  width: 60%;
  height: 40px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
}
#modal-addAnnounce .modal-body select {
  margin: 5px 10px;
  width: 60%;
  height: 40px;
}
#modal-addAnnounce .modal-body button {
  width: 40%;
  margin: 10px 5px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#modal-addAnnounce .modal-body button:hover {
  transform: scale(1.1);
}
