#cart {
  height: auto;
  width: 100%;
  padding: 5% 15%;
}
#cart .card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5% 20px;
  border: none;
  border-radius: 0;
  margin: 5% auto;
}
#cart h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#cart .cta button {
  width: 20%;
  margin: 20px 10px;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#cart button:hover {
  transform: scale(1.1);
}
#product input[type=number] {
  background-color: inherit;
  width: 10%;
  border: none;
}
#product table,td {
  border: none;
}
#product table th {
  border: none;
  border-bottom: .5px solid black;
  border-top: none;
}
#product table img {
  height: 50px;
  width: auto;
}
#product table td button {
  width: 60%;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#product button:hover {
  transform: scale(1.1);
}
