.overlay {
  position: fixed;
  bottom: 100%;
  left: 0;
  right: 0;
  background-color: rgba(255, 255, 255);
  overflow: hidden;
  width: 100%;
  height:0;
  transition: .5s ease;
  z-index: 999;
}
.overlay input {
  border: 1px solid #384940;
  margin-top: 5%;
  height: 40px;
  border-radius: 5px;
}
.overlay h2,span {
  color: #384940;
}

.show {
  bottom: 0;
  height: 100%;
}
.btn-quit {
  border: none;
  background-color: inherit;
  margin-top: 5%;
  height: 40px;
  border-radius: 5px;
  color: #384940;
}
.btn-quit:hover {
  color: #da4f44;
}
