#profil {
  height: auto;
  width: 100%;
  padding: 5% 15%;
}
#profil .card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5% 0;
  border: none;
  border-radius: 0;
  margin: 5% auto;
}
#info {
  display: block;
}
#edit {
  display: none;
}
#profil .pic {
  height: 200px;
  width: 200px;
  background-color: rgba(0, 0, 0, 0.1);
  margin: 0 auto;
  border-radius: 100px;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
#profil .name,.desc,.info {
  margin: 20px 0;
}
#profil h2,p {
  text-transform: uppercase;
}
#edit input[type=text] {
  padding: 5px 10px;
  width: 60%;
  height: 40px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
}
#edit input[type=submit] {
  width: 40%;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#edit input[type=submit]:hover {
  transform: scale(1.1);
}
#profil button {
  width: 40%;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#profil button:hover {
  transform: scale(1.1);
}
#password h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#status h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#password input[type=password] {
  padding: 5px 10px;
  width: 60%;
  height: 40px;
  border: none;
  background-color: inherit;
  border-bottom: 1px solid black;
}
#password input[type=password]::placeholder {
  color: black;
}
#password p {
  font-size: 7px;
}
#profil input[type=submit] {
  width: 40%;
  margin: 20px auto;
  padding: 10px 15px;
  background-color: white;
  border: none;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#profil input[type=submit]:hover {
  transform: scale(1.1);
}
#order h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#order {
  padding: 0 10px;
}
#order .order {
  width: 100%;
  height: auto;
  padding: 7px;
  background-color: rgba(0, 0, 0, 0.05);
  transition: .5s;
  margin: 10px 0;
}
#order .order:hover {
  transform: scale(1.02);
}
#order .order p {
  margin: 0;
}
#order #orderBottom {
  display: none;
}
#order #orderBottom table {
  width: 100%;
  margin: 10px 0;
}
#order #orderBottom thead {
  border-bottom: .5px solid black;
}

@media screen and (max-width: 1500px) {
  #profil {
    padding: 0;
  }
  #profil .card {
    width: 100%;
    height: auto;
  }

}
