#profil {
  padding-top: 20px;
  height: 100%;
  width: 100%;
}
#profil .title {
  padding: 20px;
}
#profil h3 {
  font-size: 18px;
  color: #677A70;
  text-transform: uppercase;
}
#profil h2 {
  font-size: 36px;
  color: #677A70;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
#profil .line {
  width: 80px;
  height: 1px;
  border: 2px solid #677A70;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
  background-color: #677A70;
}
.profil_container {
  height: auto;
  padding: 50px 20px;
  width: 700px;
  background-color: #d0dad0;
  margin: 5% auto;
}
.profil_banner h3 {
  text-transform: uppercase;
  color: #677A70;
  font-size: 24px;
  font-weight: 500;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.profil_banner {
  background-color: #f8f4ed;
  height: auto;
  width: 100%;
  padding-top: 40px;
  padding-bottom: 40px;
}
.profil_container input {
  width: 60%;
  height: 40px;
  border: none;
  margin-top: 20px;
}
.profil_container input[type=text] {
  padding: 5px 10px;
}
.profil_container input[type=password] {
  padding: 5px 10px;
}
.profil_container input[type=submit] {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  width: 40%;
  transition: .5s;
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: #677A70;
}
.profil_container input[type=submit]:hover {
  background-color: black;
}
.profil_container button {
  text-transform: uppercase;
  color: white;
  height: 40px;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  width: 40%;
  transition: .5s;
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: #677A70;
}
.profil_container button:hover {
  background-color: black;
}
.profil_item {
  background-color: #F2F2F2;
  height: 150px;
  width: auto;
  padding: 10px;
  margin-bottom: 20px;
}
.profil_pic {
  height: 230px;
  width: 230px;
  margin-left: auto;
  margin-right: auto;
  border-radius: 140px;
  background-color: white;
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.profil_container h3 {
  margin-bottom: 20px;
}
.profil_desc p {
  font-size: 13px;
  font-weight: bold;
  text-transform: uppercase;
  color: #677A70;
  margin: 0;
  margin-bottom: 10px;
}
.profil_info input[type=text] {
  background-color: inherit;
  border: none;
  text-align: center;
  font-size: 13px;
  color: #677A70;
  margin: 0;
  text-transform: uppercase;
}
.profil_info p {
  font-size: 10px;
  font-weight: bold;
  text-transform: uppercase;
  color: #677A70;
  margin: 0;
  margin-bottom: 10px;
}
.profil_message {
  margin-top: 20px;
}
.profil_message a {
  text-transform: uppercase;
  color: #677A70;
  text-decoration: underline;
}
.profil_message a:hover {
  opacity: .50;
}
.order_history {
  height: auto;
  padding-top: 5px;
  padding-bottom: 5px;
  background-color: white;
  width: 100%;
  margin-bottom: 10px;
  transition: .5s;
}
.order_history:hover {
  transform: scale(.98);
}
.order_history p {
  margin: 0;
}
.logout input[type=button] {
  text-transform: uppercase;
  color: white;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  width: 10%;
  transition: .5s;
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: #677A70;
}
.logout input[type=button]:hover {
  background-color: black;
}
