#sellerPanel {
  height: auto;
  width: 100%;
  padding: 5% 15%;
}
#sellerPanel .card {
  background-color: rgba(255, 255, 255, 0.9);
  padding: 5% 20px;
  border: none;
  border-radius: 0;
  margin: 5% auto;
}
#sellerPanel h3 {
  text-transform: uppercase;
  font-size: 13px;
}
#AddAnnounce {
  width: 50px;
  height: 50px;
  margin: 20px 20px;
  padding: 15px 15px;
  background-color: white;
  border: none;
  border-radius: 50px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#AddAnnounce:hover {
  transform: scale(1.1);
}
#myAnnounces input[type=number] {
  background-color: inherit;
  width: 15%;
  border: none;
}
#myAnnounces table,td {
  border: none;
}
#myAnnounces table th {
  border: none;
  border-bottom: .5px solid #dee2e6;
  border-top: none;
}
#myAnnounces tbody td {
  padding: 0;
  vertical-align: middle;
  height: auto;
}
#myAnnounces table img {
  height: 50px;
  width: auto;
}
#myAnnounces table td button {
  width: 60%;
  background-color: white;
  border: none;
  padding: 5px 10px;
  border-radius: 40px;
  color: black;
  text-transform: uppercase;
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
  transition: .5s;
}
#myAnnounces button:hover {
  transform: scale(1.1);
}
@media screen and (max-width: 1500px) {
  #myAnnounces table td button {
    width: auto;
    background-color: white;
    border: none;
    padding: 5px 10px;
    border-radius: 40px;
    color: black;
    text-transform: uppercase;
    -webkit-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 15px 0px rgba(0,0,0,0.1);
    transition: .5s;
  }

}
@media screen and (max-width: 1000px) {
  #sellerPanel {
    padding: 0;
  }
  #sellerPanel .card {
    width: 100%;
    height: auto;
  }
  #myAnnounces table td button {
    width: auto;
  }
}
