footer_html {
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100%;
  margin: 0px;
  padding: 0px;
  font-family: 'helvetica', sans-serif;
  font-size: 12px;
  letter-spacing: 1px;

}
/********** content_1 **********/
#content_1 {
  width: 100%;
  height: 100%;
  position: relative;
}
#content_1 .content_1_1 {
  padding-top: 20px;
}
.content_1_1 {
  padding: 10px;
}
.content_1_1 .menu_container {
  background-color: #c2cdc1;
  width: 70%;
  height: 100px;
  margin: 20px auto;
}
.content_1_1 .menu_announces {
  background-color: #F2F2F2;
  width: 70%;
  height: auto;
  margin: -20px auto;
}
.menu_container .m {
  margin-top: 25px;
  height: 100%;
  transition: .5s;
}
@media screen and (max-width: 830px) {
  .content_1_1 {
    min-width: 400px;
  }
  .menu_container .m {
    margin-top: 23px;
    height: 100%;
    width: 33%;
  }
  .content_1_1 .menu_container {
    background-color: #c2cdc1;
    width: 70%;
    height: 80px;
    margin: 20px auto;
  }
  .content_1_1 .menu_announces {
    background-color: #F2F2F2;
    width: 70%;
    height: auto;
    margin: -20px auto;
  }
  .menu_container .m button {
    background-color: inherit;
    border: none;
    color: #677A70;
    font-size: 12px;
    text-transform: uppercase;
    width: 100%;
    height: 100%;
  }
  .menu_container .active button {
    color: black;
  }
  .menu_announces .m_left {
    text-align: center;
  }

}
@media screen and (max-width: 770px) {
.m_right {
    display: none;
}
}
.menu_container button {
  background-color: inherit;
  border: none;
  color: #677A70;
  font-size: 18px;
  text-transform: uppercase;
  width: 100%;
  height: 100%;
  transition: .5s;
}
.menu_container a {
  text-decoration: none;
  color: #677A70;
}
.active {
  border-bottom: 4px solid black;
  z-index: 999;
}
.active button {
  color: black;
}
.menu_container .m button:hover {
  color: black;
}
.m_left {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  text-align: left;
}
.n_left {
  width: 100%;
  height: 100%;
  padding: 50px 30px;
  text-align: left;
}
.m_left input[type=text] {
  width: 80%;
  padding: 7px 15px;
  border: none;
  margin: 10px 0;
}
.m_left input:nth-child(2n+0) {
  width: 74%;
}
.m_left button {
  background-color: white;
  border: none;
  width: 6%;
  padding: 7px 0;
  color: #677A70;
}
.m_left h3 {
  text-transform: uppercase;
}
.n_left h3 {
  text-transform: uppercase;
}
.n_left p {
  text-transform: uppercase;
}
.m_left button:hover {
  color: black;
}
.m_left input[type=submit] {
  width: 50%;
  padding: 5px 10px;
  border: none;
  margin: 10px auto;
  height: 40px;
}
input:focus {
  outline: inherit;
}
.m_right {
    height: 100%;
    width: 100%;
    background-image: url(../img/home/announces.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.menu_announces {
  display: block;
}
.menu_message {
  background-color: white;
  width: 70%;
  height: auto;
  margin: -20px auto;
  display: none;
}
.menu_product {
  background-color: white;
  width: 70%;
  height: auto;
  margin: -20px auto;
  display: none;
}
.menu_message .n_left {
  background-color: #F2F2F2;
}
.menu_product .n_left {
  background-color: #F2F2F2;
}
.menu_message .n_right {
  background-color: white;
}
.menu_message .n_left button {
  text-transform: uppercase;
  color: white;
  height: 40px;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  width: 40%;
  transition: .5s;
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: #677A70;
  margin-top: 10px;
}
.menu_message .n_left button:hover {
  background-color: black;
}

/********** content_2 **********/
#content_2 {
  margin: 2% 0%;
  width: 100%;
  height: 100%;
}
#content_2 .content_2_1 {
  padding-top: 40px;
  padding-bottom: 40px;
}
#content_2 .content_2_2 {
  padding-top: 40px;
}
.line {
width: 80px;
height: 1px;
border: 2px solid #677A70;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
background-color: #677A70;
}
#content_2  h3 {
  font-size: 18px;
  color: #677A70;
}
#content_2  h2 {
  font-size: 36px;
  color: #677A70;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}


.block_left img {
  width: 415px;
  height: 415px;
  transition: .5s;
}
.block_center img {
  width: 415px;
  height: 415px;
  transition: .5s;
  margin-top: 40px;
}
.block_right img {
  width: 415px;
  height: 415px;
  transition: .5s;
}


.block_left img:hover {
  transform: scale(1.05);
}
.block_center img:hover {
  transform: scale(1.05);
}
.block_right img:hover {
  transform: scale(1.05);
}
@media screen and (max-width: 1280px) {
  .block_left {
    text-align: center;
    width: 100%;
  }
  .block_center {
    text-align: center;
    width: 100%;
  }
  .block_right {
    text-align: center;
    width: 100%;
  }
  .block_left img {
    padding: 5%;
  }
  .block_center img {
    margin-top: 0;
    padding: 5%;

  }
  .block_right img {
    padding: 5%;
  }
}

/********** content_3 **********/
#content_3 {
  margin: 2% 0%;
}
#content_3 > .block_banner {
  background-color: #f8f4ed;
  height: auto;
  width: 100%;
  padding-bottom: 3%;
}
.content_3_1 {
  padding-top: 40px;
}
/********** content_4 **********/
#content_4 {
  margin: 2% 0%;
}
#content_4 .content_4_1 {
  height: auto;
  padding-top: 40px;
}
.line {
width: 80px;
height: 1px;
border: 2px solid #677A70;
margin-top: 15px;
margin-left: auto;
margin-right: auto;
background-color: #677A70;
}
#content_4  h3 {
  font-size: 18px;
  color: #677A70;
}
#content_4  h2 {
  font-size: 36px;
  color: #677A70;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
#content_4 .navigation {
  padding-top: 40px;
}

#content_4 .navigation button {
  text-transform: uppercase;
  color: #677A70;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  transition: .2s;
  margin-right: 10px;
  padding-bottom: 5px;
  border: none;
  background-color: inherit;
}
#content_4 .navigation button:hover {
  color: black;
}
#content_4 .navigation .active {
  border-bottom: 2px solid black;
  color: black;
}
#content_4 .block_vendor {
  background-color: #F2F2F2;
  height: 400px;
  margin-left: auto;
  margin-right: auto;
  transition: .5s;
  padding: 20px;
}
#content_4 .block_vendor:hover {
  transform: scale(1.05);
}
.content_4_2 {
  padding-top: 40px;
  padding-bottom: 40px;
}
#content_4 .bottom {
  margin-top: 40px;
}
#content_4 .column {
  flex: 15%;
  max-width: 25%;
  padding: 0 10px;
}
@media screen and (max-width: 1200px) {
  #content_4 .column {
    flex: 50%;
    max-width: 50%;
  }
  #content_4 .bottom {
    margin-top: 0px;
  }
  #content_4 .block_vendor {
    margin: 5%;
  }
}
@media screen and (max-width: 800px) {
  #content_4 .column {
    flex: 70%;
    max-width: 70%;
    margin-left: auto;
    margin-right: auto;
  }
  #content_4 .bottom {
    margin-top: 0px;
  }
  #content_4 .block_vendor {
    margin: 5%;
  }
}
@media screen and (max-width: 600px) {
  #content_4 .column {
    flex: 100%;
    max-width: 100%;
  }
  #content_4 .bottom {
    margin-top: 0px;
  }
  #content_4 .block_vendor {
    margin: 5%;
  }
}

#content_4 .block_vendor .pic {
  height: 130px;
  width: 130px;
  border-radius: 65px;
  background-color: #677A70;
  margin-left: auto;
  margin-right: auto;
  background-image: url(../img/home/jakob-owens-lkMJcGDZLVs-unsplash.jpg);
  background-position: top;
  background-repeat: no-repeat;
  background-size: cover;
}
.content_4_2 .name h3 {
  text-align: center;
  padding-top: 15px;
}
.content_4_2 .desc {
  text-align: center;
  padding-top: 5px;
  padding-bottom: 0;
}
.content_4_2 .desc p {
  margin-bottom: 10px;
}
.content_4_2 .pos  {
  text-align: center;
}
.content_4_2 .pos p {
  margin-bottom: 10px;
}
.content_4_2 .review  {
  text-align: center;
  padding-bottom: 10px;
}
.content_4_2 .view  {
  text-align: center;
}
.content_4_2 .comment  {
  text-align: center;
}
.content_4_2 .view .btn_top_vendor {
  background-color: #677A70;
  padding: 10px 30px;
  color: white;
  border: none;
  text-transform: uppercase;
}
/********** content_5 **********/

.content_5_1 {
  padding-top: 40px;
}
.block_banner {
  background-color: #f8f4ed;
  height: auto;
  width: 100%;
  padding-bottom: 3%;
}
.block_banner h3 {
  text-transform: uppercase;
  color: #677A70;
  font-size: 24px;
  margin-top: 40px;
  margin-bottom: 40px;
  font-weight: 500;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
}
.block_banner i {
  font-size: 48px;
  color: #677A70;
}
.block_banner p {
  text-transform: uppercase;
  color: #677A70;
  font-size: 13px;
  margin-top: 40px;
}


/********** Footer **********/
.footer {
  background-color: #c2cdc1;
  height: auto;
}
.footer_title {
  padding-top: 20px;
}
.footer_title h1 {
  font-size: 32px;
}
.newsletter {
  margin-top: 20px;
  background-color: #d0dad0;
  padding: 5%;
}
.input {
  width: 100%;
  height: 30px;
  border: none;
  background-color: #F2F2F2;
}
.btn_send {
  text-transform: uppercase;
  color: white;
  height: 40px;
  text-decoration: none;
  font-family: 'helvetica', sans-serif;
  font-weight: bold;
  font-size: 12px;
  letter-spacing: 1px;
  width: 40%;
  transition: .5s;
  margin-right: 10px;
  padding: 5px;
  border: none;
  background-color: #677A70;
  margin-top: 10px;
}
.btn_send:hover {
  background-color: black;
}
.footer  h3 {
  font-size: 18px;
  color: #677A70;
}
.footer h2 {
  font-size: 24px;
  color: #677A70;
  font-family: minerva-modern, sans-serif;
  font-weight: 700;
  font-style: normal;
  text-transform: uppercase;
}
.footer_social ul li {
  text-decoration: none;
  list-style: none;
  display: inline-block;
  padding: 5px;
}
.footer_social ul {
  padding: 0;
  margin-top:20px;
}
.footer_social ul li i {
  font-size: 24px;
  transition: .5s;
  color: #677A70;
}
.footer_social ul li i:hover {
  transform: scale(1.30);
}
.footer_link ul li {
  text-decoration: none;
  list-style: none;
  padding: 5px;
}
.footer_link ul {
  padding: 0;
  margin-bottom:20px;
}
.footer_link ul li a {
  text-decoration: none;
  color: #677A70;
  transition: .2s;
  padding-bottom: 5px;
}
.footer_link ul li a:hover {
  border-bottom: 2px solid black;
  color: black;
}
.footer_line {
  width: 180px;
  height: 1px;
  border: 1px solid #677A70;
  margin-top: 0px;
  margin-bottom: 10px;
  margin-left: auto;
  margin-right: auto;
  background-color: #677A70;
}
.footer p {
  opacity: .30;
}
.footer {
  padding: 2%;
}
.footer input[type=submit] {
  width: 50%;
}
